<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vis.android">


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.example.shan.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />


    <permission
        android:name="com.example.shan.app.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Database.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/vis_logo_new2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.LandmarkPopupActivity"
            android:launchMode="singleInstance" android:excludeFromRecents="true"
            android:taskAffinity="" android:theme="@style/AppTheme.MaterialDialogTheme"/>

        <activity
            android:name=".Activities.General.MeasureDistanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.General.DrawPlotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DocumentsActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" /> <!-- AIzaSyCkrFi7IZ5HFHnjflCa5sjZzngOfyhsH8o -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- old key -->
        <!-- AIzaSyCYcXZkn-uLnCbit8vylYHzsXO5ie8uNIo -->
        <!-- AIzaSyCy2OqooognAIop5zxQ8i4PKuXzA6LMKrE -->
        <!-- new -->
        <!--  -->
        <!--
 <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
      <!--  <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.OTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.Dashboard"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name=".Fragments.CaseDetail"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        -->
        <!--
   <activity
            android:name=".Fragments.PriliminaryActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        -->
        <activity
            android:name=".Activities.OtherThanFlats.Other1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ScheduleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory5"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Industrial.Industrial1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Industrial.Industrial2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Industrial.Industrial3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory6"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Industrial.Industrial4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Industrial.Industrial5"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MultiStory.MultiStory1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.GroupHousing.GroupHousing2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets5"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets6"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets7"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssets8"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SpecialAssets.SpecialAssetsDynamicView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.GroupHousing.GroupHousing1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other5"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other6"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.OtherThanFlats.Other7"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".Extras.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.CompassActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CompasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ReassignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewMapActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/vis_iconn" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <service
            android:name=".Notification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activities.GalleryActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".CallingService.CallRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".CallingService.LocationUpdateService"
            android:enabled="true" />

        <receiver
            android:name=".CallingService.RestartService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"></receiver>
        <!--
    android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        -->
        <!-- </service> -->
        <activity
            android:name=".Activities.LandmarkMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.General.NearbyPlaceActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>